@model UniPuan.Web.Models.UniModel

@{
    ViewBag.Title = "Index";
}
<div class="banner">
    <div class="container">
        <div class="header-text">
            <p class="big-text">Tercihleri yaparken nelere dikkat edilmeli?</p>
            <p class="small-text">Tercih sürecinde ilk tercihler genelde realite olan tercihleri oluşturur. İlk birkaç tercihin puanı alınan puanın üstlerinde olabilir. Fakat bu tercihlerin sayısı birkaç taneyi geçmemelidir. Bu tercihlerden sonra ideal tercih sıralaması yapılmalıdır. Bu sıralama belirlenirken öncelikle istek sırası göz önünde bulundurulmalıdır.
Bölümün alan içi veya alan dışı olması, bölümün özellikleri, kontenjan sayıları dikkat edilecek hususlardandır. Kazanılsa dahi kayıt olmayı düşünülmeyen programlara tercih listesinde yer verilmemelidir.</p>
            <div class="button-section">
                <ul>
                    <li><a href="#" class="top-button white">Tercihe Başla</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
            function selectedIndexChanged() {
            }
</script>
<div class="features" id="features">
    <div class="container box1 col-md-6">
        <h3 class="text-head">Hayatta Başarılar</h3>            
            <div class="features-section">                        
                   @Html.Label("Puan Türü")@Html.DropDownList("SelectedPuan", "Puan Türünü Seç")<br />
                @Html.Label("Üniversite Türü")
               @foreach (var typ in Model.Unitypes)
               {<label class="inline">
                <input type="checkbox" class="ace">
                <span class="lbl">@typ.Text</span>
            </label>}

                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        <form id="demoform" action="#" method="post">
                            <select multiple="multiple" size="10" name="duallistbox_demo1[]">
                              @foreach (var dep in Model.Departments)
                              {<option value="option1">@dep.Text</option>}                      
                            </select>
                            
                            <br>
                            @*<button type="submit" class="btn btn-default btn-block">Submit data</button>*@
                        </form>  
                    }              
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        <form id="demoform" action="#" method="post">
                            <select multiple="multiple" size="10" name="duallistbox_demo1[]">
                                @foreach (var cty in Model.Cities)
                                {
                                <option value="option1">@cty.Text</option>}
                            </select>
                            
                            <br>
                            @*<button type="submit" class="btn btn-default btn-block">Submit data</button>*@
                        </form>                       
                       <input type="hidden">
                    }
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        <form id="demoform" action="#" method="post">
                            <select multiple="multiple" size="10" name="duallistbox_demo1[]">
                                @foreach (var uni in Model.Universities)
                                {<option value="option1">@uni.Text</option>}
                            </select>
                            <br>
                            @*<button type="submit" class="btn btn-default btn-block">Submit data</button>*@
                        </form>                      
                        <input type="hidden">
    <label>
        <input name="form-field-radio" type="radio" class="ace">
        <span class="lbl"> Puan Aralığı</span>
    </label>
    <label>
        <input name="form-field-radio" type="radio" class="ace">
        <span class="lbl"> Başarı Sıralaması</span>
    </label>                  
                    @Html.TextBox("Min.")
                    @Html.TextBox("Max")<br />
                     }<input type="submit" value="Araştır" class="btn btn-danger" name="Araştır" />
            </div> 
    </div>
</div>
<div class="stories" id="stories">
    <div class="container">
        <h3 class="text-head">Stories Of Extant</h3>
        <div class="stories-section">
            <table id="veritablosu">

                <tr>
                    <th width="1%" rowspan="2">
                    </th>
                    <th width="1%" rowspan="2" style="text-align:right;">#</th>
                    <th rowspan="2">Puan<br>Tipi</th>
                    <th rowspan="2">Kodu</th>
                    <th colspan="1">Üniversite</th>
                    <th colspan="1">Program</th>
                    <th rowspan="2">Ek Bilgi</th>
                    <th colspan="3">Başarı Sır.</th>
                    <th rowspan="2">2014<br>Ek P.<br>Bş.Sr.</th>
                    <th colspan="3">Taban Puanlar</th>
                    <th rowspan="2">Süre</th>
                    <th colspan="4">Kontejan</th>
                    <th colspan="1">Öz.Koşullar</th>
                </tr>
                <tr>
                    <th>Şehir</th>
                    <th>Fakulte</th>
                    <th>2012</th>
                    <th>2013</th>
                    <th>2014</th>
                    <th>2012</th>
                    <th>2013</th>
                    <th>2014</th>
                    <th>2012</th>
                    <th>2013</th>
                    <th>2014</th>
                    <th>O.1</th>
                    <th>Yer.Önc.</th>
                </tr>

            </table>
             
         </div>
    </div>
</div>
<div class="contact" id="contact">
    <div class="container">
        <h3 class="text-head">Contact At Extant</h3>
        <p class="box-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia mi nulla, in imperdiet arcu hendrerit in.</p>
        <div class="contact-section">

            <form>
                <input type="text" name="Name" placeholder="İsim" /><br />
                <input type="email" name="email" placeholder="Email" /><br />
                <textarea placeholder="Message" rows="6"></textarea>
                <button type="submit" class="submit">Mesaj Gönder</button>
            </form>

        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="infooter">
            <p class="copyright">Copyright &copy; Extant 2014 by <a class="credit" href="http://www.html5layouts.com">HTML5 Layouts</a></p>
        </div>
        <ul class="socialmedia">
            <li><a href="https://twitter.com/"><i class="icon-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/"><i class="icon-facebook"></i></a></li>
            <li><a href="https://dribbble.com/"><i class="icon-dribbble"></i></a></li>
            <li><a href="https://www.linkedin.com/"><i class="icon-linkedin"></i></a></li>
            <li><a href="http://instagram.com/"><i class="icon-instagram"></i></a></li>
        </ul>
    </div>
</div>
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    jQuery(function ($) {
        var demo1 = $('select[name="duallistbox_demo1[]"]').bootstrapDualListbox({ infoTextFiltered: '<span class="label label-purple label-lg">Filtered</span>' });
        var container1 = demo1.bootstrapDualListbox('getContainer');
        container1.find('.btn').addClass('btn-white btn-info btn-bold');

        /**var setRatingColors = function() {
            $(this).find('.star-on-png,.star-half-png').addClass('orange2').removeClass('grey');
            $(this).find('.star-off-png').removeClass('orange2').addClass('grey');
        }*/
        $('.rating').raty({
            'cancel': true,
            'half': true,
            'starType': 'i'
            /**,

            'click': function() {
                setRatingColors.call(this);
            },
            'mouseover': function() {
                setRatingColors.call(this);
            },
            'mouseout': function() {
                setRatingColors.call(this);
            }*/
        })//.find('i:not(.star-raty)').addClass('grey');



        //////////////////
        //select2
        $('.select2').css('width', '200px').select2({ allowClear: true })
        $('#select2-multiple-style .btn').on('click', function (e) {
            var target = $(this).find('input[type=radio]');
            var which = parseInt(target.val());
            if (which == 2) $('.select2').addClass('tag-input-style');
            else $('.select2').removeClass('tag-input-style');
        });

        //////////////////
        $('.multiselect').multiselect({
            enableFiltering: true,
            buttonClass: 'btn btn-white btn-primary',
            templates: {
                button: '<button type="button" class="multiselect dropdown-toggle" data-toggle="dropdown"></button>',
                ul: '<ul class="multiselect-container dropdown-menu"></ul>',
                filter: '<li class="multiselect-item filter"><div class="input-group"><span class="input-group-addon"><i class="fa fa-search"></i></span><input class="form-control multiselect-search" type="text"></div></li>',
                filterClearBtn: '<span class="input-group-btn"><button class="btn btn-default btn-white btn-grey multiselect-clear-filter" type="button"><i class="fa fa-times-circle red2"></i></button></span>',
                li: '<li><a href="javascript:void(0);"><label></label></a></li>',
                divider: '<li class="multiselect-item divider"></li>',
                liGroup: '<li class="multiselect-item group"><label class="multiselect-group"></label></li>'
            }
        });


        ///////////////////

        //typeahead.js
        //example taken from plugin's page at: https://twitter.github.io/typeahead.js/examples/
        var substringMatcher = function (strs) {
            return function findMatches(q, cb) {
                var matches, substringRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function (i, str) {
                    if (substrRegex.test(str)) {
                        // the typeahead jQuery plugin expects suggestions to a
                        // JavaScript object, refer to typeahead docs for more info
                        matches.push({ value: str });
                    }
                });

                cb(matches);
            }
        }

        $('input.typeahead').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        }, {
            name: 'states',
            displayKey: 'value',
            source: substringMatcher(ace.vars['US_STATES'])
        });


        ///////////////


        //in ajax mode, remove remaining elements before leaving page
        $(document).one('ajaxloadstart.page', function (e) {
            $('[class*=select2]').remove();
            $('select[name="duallistbox_demo1[]"]').bootstrapDualListbox('destroy');
            $('.rating').raty('destroy');
            $('.multiselect').multiselect('destroy');
        });

    });
</script>
