@model UniPuan.Web.Models.UniModel

@{
    ViewBag.Title = "Index";
}
<div class="banner">
    <div class="container">
        <div class="header-text">
            <p class="big-text">Tercihleri yaparken nelere dikkat edilmeli?</p>
            <p class="small-text">Tercih sürecinde ilk tercihler genelde realite olan tercihleri oluşturur. İlk birkaç tercihin puanı alınan puanın üstlerinde olabilir. Fakat bu tercihlerin sayısı birkaç taneyi geçmemelidir. Bu tercihlerden sonra ideal tercih sıralaması yapılmalıdır. Bu sıralama belirlenirken öncelikle istek sırası göz önünde bulundurulmalıdır.
Bölümün alan içi veya alan dışı olması, bölümün özellikleri, kontenjan sayıları dikkat edilecek hususlardandır. Kazanılsa dahi kayıt olmayı düşünülmeyen programlara tercih listesinde yer verilmemelidir.</p>
            <div class="button-section">
                <ul>
                    <li><a href="#" class="top-button white">Tercihe Başla</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
            function selectedIndexChanged() {
            }
</script>
<div class="features" id="features">
    <div class="container">
        <h3 class="text-head">Hayatta Başarılar</h3>     
            <div class="features-section">                        
                <table>
                    <tr><td><input class="filter form-control" type="text" placeholder="Ara" name="searchd" style="font-size:large;width:200px;"></td>
                    <td></td><td></td>
                    <td><input class="filter form-control" type="text" placeholder="Ara" name="searchd" style="font-size:large;width:200px;"></td>
                    <td>@Html.Label("Puan Türü")</td></tr>
                    <tr>@using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                    <td>
                        <select size="10" name="boxdep"
                                multiple="multiple" id="ctl00_ContentPlaceHolder1_Illist_LeftBox" style="font-size:large;width:200px;">
                            @foreach (var dep in Model.Departments)
                            {<option>@dep.Text</option>}
                        </select><input type="hidden">
                    </td><td><input type="submit" value="Ekle" class="btn btn-danger" name="Ekle" /></td>
                    <td><input type="submit" value="Çıkar" class="btn btn-danger" name="Cikar" /></td>
                    <td><select size="10" name="ctl00$ContentPlaceHolder1$Illist$RightBox"
                     multiple="multiple" id="ctl00_ContentPlaceHolder1_Illist_RightBox" style="font-size:large;width:200px;">
                    @foreach (var dep in Model.SelectedDepartments)
                    {<option>@dep</option>}
                    </select></td> }
                    <td><div class="input-append no-padding no-margin">
                        @Html.DropDownList("SelectedPuan", "Puan Türünü Seç")
                    </div></td></tr>
                    <tr><td><input class="filter form-control" type="text" placeholder="Ara" name="searchc" style="font-size:large;width:200px;"></td>
                    <td></td><td></td>
                    <td><input class="filter form-control" type="text" placeholder="Ara" name="searchc" style="font-size:large;width:200px;"></td>
                    <td>@Html.Label("Üniversite Türü")</td></tr>
                    <tr>@using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                    <td>
                        <select size="10" name="boxcity"
                                multiple="multiple" id="ctl00_ContentPlaceHolder1_Illist_LeftBox" style="font-size:large;width:200px;">
                            @foreach (var cty in Model.Cities)
                            {<option>@cty.Text</option>}
                        </select><input type="hidden">
                    </td>
                    <td><input type="submit" value="Ekle" class="btn btn-danger" name="Ekle" /></td>
                    <td><input type="submit" value="Çıkar" class="btn btn-danger" name="Cikar" /></td>
                    <td>
                        <select size="10" name="ctl00$ContentPlaceHolder1$Illist$RightBox"
                                multiple="multiple" id="ctl00_ContentPlaceHolder1_Illist_RightBox" style="font-size:large;width:200px;">
                           @foreach (var cty in Model.SelectedCities)
                           {<option>@cty</option>}
                        </select></td>}
                    <td>
                      
                            @Html.CheckBox("Devlet")<br />
                            @Html.CheckBox("Vakıf")<br />
                            @Html.CheckBox("Özel")<br />
                            @Html.CheckBox("KKTC")<br />                      
                        </td>
                    </tr>
                    <tr><td><input class="filter form-control" type="text" placeholder="Ara" name="searchu" style="font-size:large;width:200px;"></td>
                    <td></td><td></td>
                    <td><input class="filter form-control" type="text" placeholder="Ara" name="searchu" style="font-size:large;width:200px;"></td>
                    <td>@Html.Label("Puan-Başarı")</td></tr>
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {<tr>
                    <td>
                        <select size="10" name="boxuni" multiple="multiple" id="ctl00_ContentPlaceHolder1_Illist_LeftBox" style="font-size:large;width:200px;">
                            @foreach (var uni in Model.Universities)
                        {<option>@uni.Text</option>}
                        </select><input type="hidden">     
                       </td>
                    <td><input type="submit" value="Ekle" class="btn btn-danger" name="Ekle" /></td>
                    <td><input type="submit" value="Çıkar" class="btn btn-danger" name="Cikar" /></td>
                    <td><select size="10" name="ctl00$ContentPlaceHolder1$Illist$RightBox"
                     multiple="multiple" id="ctl00_ContentPlaceHolder1_Illist_RightBox" style="font-size:large;width:200px;">
                            @foreach (var uni in Model.SelectedUniversities)
                            {<option>@uni</option>}
                    </select></td>
                    <td>@Html.RadioButton("Puan Aralığı",Model.Cities)<br />
                    @Html.RadioButton("Başarı Sıralaması", Model.Cities)<br />
                    @Html.TextBox("Min.", Model.Cities)<br />
                    @Html.TextBox("Max", Model.Cities)<br />
                        </td></tr>}
                    <tr><td></td><td></td><td><input type="submit" value="Araştır" class="btn btn-danger" name="Araştır" /></td><td></td><td></td></tr>
                </table>
            </div> 
    </div>
</div>
<div class="stories" id="stories">
    <div class="container">
        <h3 class="text-head">Stories Of Extant</h3>
        <p class="box-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia mi nulla, in imperdiet arcu hendrerit in.</p>
        <div class="stories-section">
            
        </div>
    </div>
</div>
<div class="contact" id="contact">
    <div class="container">
        <h3 class="text-head">Contact At Extant</h3>
        <p class="box-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia mi nulla, in imperdiet arcu hendrerit in.</p>
        <div class="contact-section">

            <form>
                <input type="text" name="Name" placeholder="İsim" /><br />
                <input type="email" name="email" placeholder="Email" /><br />
                <textarea placeholder="Message" rows="6"></textarea>
                <button type="submit" class="submit">Mesaj Gönder</button>
            </form>

        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="infooter">
            <p class="copyright">Copyright &copy; Extant 2014 by <a class="credit" href="http://www.html5layouts.com">HTML5 Layouts</a></p>
        </div>
        <ul class="socialmedia">
            <li><a href="https://twitter.com/"><i class="icon-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/"><i class="icon-facebook"></i></a></li>
            <li><a href="https://dribbble.com/"><i class="icon-dribbble"></i></a></li>
            <li><a href="https://www.linkedin.com/"><i class="icon-linkedin"></i></a></li>
            <li><a href="http://instagram.com/"><i class="icon-instagram"></i></a></li>
        </ul>
    </div>
</div>
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}