@model UniPuan.Web.Models.UniModel
@{
    ViewBag.Title = "TercihYap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @Html.Hidden("secimd_hd")
    @Html.Hidden("secimd_ud")
    <div class="features" id="features">
        <div class="container box1 col-md-offset-12">
            <h3 class="text-head">Hayatta Başarılar</h3>
            <div class="c1">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-8">
                            <form  action="#" method="post" >
                                <div class="col-xs-6" id="frmdep">
                                    <input type="text" class="form-control" placeholder="Ara" name="srchdep" onkeyup="Arama($(this).attr('name'), $('#frmdep').children('select').attr('name'))">
                                    <button type="button" class="btn btn-primary" name="btndep" id="btndep" onclick="Ekle($(this).attr('name'), $('#frmdep').children('select').attr('name'), $('#frmdpr').children('select').attr('name'))">==></button>
                                    <select multiple class="form-control" size="10" name="Departments">
                                        @foreach (var dep in Model.Departments)
                                        {
                                            <option value="@dep.Value">@dep.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-xs-6" id="frmdpr">
                                    <input type="text" class="form-control" placeholder="Ara" name="srchdp" onkeyup="Arama($(this).attr('name'), $('#frmdpr').children('select').attr('name'))">
                                    <button type="button" class="btn btn-primary" name="btndp" id="btndp" onclick="Ekle($(this).attr('name'), $('#frmdpr').children('select').attr('name'), $('#frmdep').children('select').attr('name'))"><==</button>
                                    <select multiple class="form-control" size="10" name="secimd"></select>
                                </div>
                            </form><br />
                            <form id="demoform" action="#" method="post">
                                <div class="col-xs-6" id="frmcity">
                                    <input type="text" class="form-control" placeholder="Ara" name="srchcity" onkeyup="Arama($(this).attr('name'), $('#frmcity').children('select').attr('name'))">
                                    <button type="button" class="btn btn-primary" name="btncity" id="btncity" onclick="Ekle($(this).attr('name'), $('#frmcity').children('select').attr('name'), $('#frmcty').children('select').attr('name'))">==></button>
                                    <select multiple class="form-control" size="10" name="Cities">
                                        @foreach (var city in Model.Cities)
                                        {
                                            <option value="@city.Value">@city.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-xs-6" id="frmcty">
                                    <input type="text" class="form-control" placeholder="Ara" name="srchcty" onkeyup="Arama($(this).attr('name'), $('#frmcty').children('select').attr('name'))">
                                    <button type="button" class="btn btn-primary" name="btncty" id="btncty" ><==</button>
                                    <select multiple class="form-control" size="10" name="secimc"></select>
                                </div>
                                <br>
                            </form>
                            <form id="demoform" action="#" method="post">
                                <div class="col-xs-6" id="frmuni" name="frmuni">
                                    <input type="text" class="form-control" placeholder="Ara" name="srchuni" onkeyup="Arama($(this).attr('name'), $('#frmuni').children('select').attr('name'))">
                                    <button type="button" class="btn btn-primary" name="btnuni" id="btnuni" onclick="Ekle($(this).attr('name'), $('#frmuni').children('select').attr('name'), $('#frmun').children('select').attr('name'))">==></button>
                                    <select multiple class="form-control" size="10" name="Uni">
                                        @foreach (var uni in Model.Universities)
                                        {
                                            <option value="@uni.Value">@uni.Text</option>
                                        }
                                    </select><br /><br />
                                </div>
                                <div class="col-xs-6" id="frmun">
                                    <input type="text" class="form-control" placeholder="Ara" name="srchun" onkeyup="Arama($(this).attr('name'), $('#frmun').children('select').attr('name'))">
                                    <button type="button" class="btn btn-primary" name="btnun" id="btnun" onclick="Ekle($(this).attr('name'), $('#frmun').children('select').attr('name'), $('#frmuni').children('select').attr('name'))"><==</button>
                                    <select multiple class="form-control" size="10" name="secimu"></select>
                                </div><br /><br />
                            </form><br /><br />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="col-xs-12">
                            @Html.Label("Puan Türü")
                            <select class="form-control" name="ScoreType">
                                <option></option>
                                @foreach (var typ in Model.ScoreTypes)
                                {
                                    <option>@typ.Text</option>
                                }
                            </select><br />
                        </div>
                        <div class="col-xs-12">
                            <label>
                                Puan
                            </label><br />
                            <input type="text" class="form-control" placeholder="Maximum Puan" name="scoremin"><br />
                            <label>
                                Başarı Sıralaması
                            </label><br />
                            <input type="text" class="form-control" placeholder="Başarı Sıralaması" name="order"><br />
                        </div>
                        <div class="col-xs-12">
                            <div id="box">
                                @Html.Label("Üniversite Türü")<br />
                                @foreach (var typ in Model.Unitypes)
                                {
                                    <input type="checkbox" id=@typ.Value />@typ.Text <br />
                                }
                                <input type="button" onclick="Check()" value="Seç" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-5">
                                <button class="btn btn-danger btn-block " name="Search">
                                    Araştır
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="stories" id="stories">
    <div class="container box1 col-md-offset-12">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped table-bordered table-hover table-heading no-border-bottom" name="tablo">
                    <thead>
                        <tr>
                            <th>Üniversite Adı</th>
                            <th>Bölüm Adı</th>
                            <th>Kontenjan</th>
                            <th>Puan Türü</th>
                            <th>Minimum Puan</th>
                            <th>Sıralama</th>
                        </tr>
                    </thead>
                    <tbody> </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
               
                $('select[name="Departments"]').change(function () {
        var depid = $(this).val();
        if (depid.length > 0) {
            $.getJSON('/Home/SetDepartments/' + depid, function (data) {
                for (i = 0; i < data.length; i++) {
                    $('select[name="Departments"] :selected').remove();
                    $('select[name="secimd"]').append('<option value="' + data[i].DEPARTMENTID + '">' + data[i].DEPARTMENTNAME + '</option>');
                }
            })
            var dpid = $('select[name="secimd"]').children();
            var list = new Array(dpid.length)
            for (i = 0; i < dpid.length; i++) {
                list[i] = ($(dpid[i]).val());
            }
            list[dpid.length] = $(this).val();
            var dlist = list.join(",");
            $('#secimd_hd').val(dlist);
            $.getJSON('/Home/GetCities/' + dlist, function (data) {
                $('select[name="Cities"]').empty();
                for (i = 0; i < data.length; i++) {
                    $('select[name="Cities"]').append('<option value="' + data[i].CITYID + '">' + data[i].CITYNAME + '</option>');
                }
            })
            $.getJSON('/Home/GetUniversities/' + dlist, function (data) {
                $('select[name="Uni"]').children().remove();
                for (i = 0; i < data.length; i++) {
                    $('<option value="' + data[i].UNIVERSITYID + '">' + data[i].UNIVERSITYNAME + '</option>').appendTo('select[name="Uni"]');
                }
            })
        }
                });

                $('select[name="Cities"]').change(function () {
        var depid = $(this).val();
        if (depid.length > 0) {
            $.getJSON('/Home/SetCities/' + depid, function (data) {
                for (i = 0; i < data.length; i++) {
                    $('select[name="Cities"] :selected').remove();
                    $('<option value="' + data[i].CITYID + '">' + data[i].CITYNAME + '</option>').appendTo('select[name="secimc"]');
                }
            })
            var ctid = $('select[name="secimc"]').children();
            var list = new Array(ctid.length)
            for (i = 0; i < ctid.length; i++)
            { list[i] = ($(ctid[i]).val()); }
            list[ctid.length] = $(this).val();
            var dlist = list.join(",");
            $.getJSON('/Home/GetUnies/' + dlist, function (data) {
                $('select[name="Uni"]').children().remove();
                for (i = 0; i < data.length; i++) {
                    $('<option value="' + data[i].UNIVERSITYID + '">' + data[i].UNIVERSITYNAME + '</option>').appendTo('select[name="Uni"]');
                }
            })
            $('select[name="secimu"]').children().remove();
        }
                });

                $('select[name="Uni"]').change(function () {
        var depid = $(this).val();
        var dpid = $('select[name="secimu"]').children();
        var list = new Array(dpid.length)
        for (i = 0; i < dpid.length; i++) {
            list[i] = ($(dpid[i]).val());
        }
        list[dpid.length] = $(this).val();
        var dlist = list.join(",");
        $('#secimd_ud').val(dlist);
        if (depid.length > 0) {
            $.getJSON('/Home/SetUni/' + depid, function (data) {
                for (i = 0; i < data.length; i++) {
                    $('select[name="Uni"] :selected').remove();
                    $('<option value="' + data[i].UNIVERSITYID + '">' + data[i].UNIVERSITYNAME + '</option>').appendTo('select[name="secimu"]');
                }
            })
        }
                });

                $('select[name="secimd"]').change(function () {
        var depid = $(this).val();
        var dpid = $('select[name="secimd"]').children();
        var list = new Array(dpid.length)
        for (i = 0; i < $(dpid).length; i++) {
            list[i] = ($(dpid[i]).val());
        }
        for (i = 0; i < $(dpid).length; i++) {
            if ($(dpid[i]).val() == $(this).val()) {
                list.splice(list.indexOf($(this).val()), 1);
            }
        }
        var dlist = list.join(",");
        $('#secimd_hd').val(dlist);
        if (depid.length > 0) {
            $.getJSON('/Home/SetDepartments/' + depid, function (data) {
                for (i = 0; i < data.length; i++) {
                    $('select[name="secimd"] :selected').remove();
                    $('select[name="Departments"]').append('<option value="' + data[i].DEPARTMENTID + '">' + data[i].DEPARTMENTNAME + '</option>');
                }
            })
            $.getJSON('/Home/GetCities/' + dlist, function (data) {
                $('select[name="Cities"]').empty();
                for (i = 0; i < data.length; i++) {
                    $('select[name="Cities"]').append('<option value="' + data[i].CITYID + '">' + data[i].CITYNAME + '</option>');
                }
            })
            $.getJSON('/Home/GetUnies/' + dlist, function (data) {
                $('select[name="Uni"]').children().remove();
                for (i = 0; i < data.length; i++) {
                    $('<option value="' + data[i].UNIVERSITYID + '">' + data[i].UNIVERSITYNAME + '</option>').appendTo('select[name="Uni"]');
                }
            })
        }
                });

                $('select[name="secimc"]').change(function () {
        var depid = $(this).val();
        if (depid.length > 0) {
            $.getJSON('/Home/SetCities/' + depid, function (data) {
                for (i = 0; i < data.length; i++) {
                    $('select[name="secimc"] :selected').remove();
                    $('select[name="Cities"]').append('<option value="' + data[i].CITYID + '">' + data[i].CITYNAME + '</option>');
                }
            })
            var unid = $('select[name="secimc"]').children();
            var list = new Array(unid.length)
            for (i = 0; i < $(unid).length; i++) {
                list[i] = ($(unid[i]).val());
            }
            for (i = 0; i < $(unid).length; i++) {
                if ($(unid[i]).val() == $(this).val()) {
                    list.splice(list.indexOf($(this).val()), 1);
                }
            }
            var dlist = list.join(",");
            $.getJSON('/Home/GetUnies/' + dlist, function (data) {
                $('select[name="Uni"]').empty();
                for (i = 0; i < data.length; i++) {
                    $('<option value="' + data[i].UNIVERSITYID + '">' + data[i].UNIVERSITYNAME + '</option>').appendTo('select[name="Uni"]');
                }
            })
        }
                });

                $('select[name="secimu"]').change(function () {
        var depid = $(this).val();
        var dpid = $('select[name="secimu"]').children();
        var list = new Array(dpid.length)
        for (i = 0; i < $(dpid).length; i++) {
            list[i] = ($(dpid[i]).val());
        }
        for (i = 0; i < $(dpid).length; i++) {
            if ($(dpid[i]).val() == $(this).val()) {
                list.splice(list.indexOf($(this).val()), 1);
            }
        }
        var dlist = list.join(",");
        $('#secimd_ud').val(dlist);
        if (depid.length > 0) {
            $.getJSON('/Home/SetUni/' + depid, function (data) {
                for (i = 0; i < data.length; i++) {
                    $('select[name="secimu"] :selected').remove();
                    $('select[name="Uni"]').append('<option value="' + data[i].UNIVERSITYID + '">' + data[i].UNIVERSITYNAME + '</option>');
                }
            })
        }
                });

                $('select[name="ScoreType"]').change(function () {
                    var tik = $(this).val();
                    if (tik.length > 0) {
                        $.getJSON('/Home/GetDepartments/' + tik, function (data) {
                            $('select[name="secimd"]').children().remove();
                            $('select[name="Departments"]').children().remove();
                            for (i = 0; i < data.length; i++) {
                                $('select[name="Departments"]').append('<option value="' + data[i].DEPARTMENTID + '">' + data[i].DEPARTMENTNAME + '</option>');
                            }
                        })
                    }
                });

                $('button[name="btncty"]').click(function () {
                    $('select[name="secimc"]').find('option').clone().appendTo('select[name="Cities"]');
                    $('select[name="secimc"] option').prop('selected', true).remove();
                    var cityid = $('select[name="Cities"]').children();
                    var list = new Array(cityid.length)
                    for (i = 0; i < $(cityid).length; i++) {
                        list[i] = ($(cityid[i]).val());
                    }
                    list[cityid.length] = $(this).val();
                    var dlist = list.join(",");
                    $.getJSON('/Home/GetUnies/' + dlist, function (data) {
                        $('select[name="Uni"]').empty();
                        for (i = 0; i < data.length; i++) {
                            $('<option value="' + data[i].UNIVERSITYID + '">' + data[i].UNIVERSITYNAME + '</option>').appendTo('select[name="Uni"]');
                        }
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        alert('Error getting cities!');
                    });
                });

                $('button[name="Search"]').click(function () {
                    var dpid = $('select[name="secimd"]').children();
                    var list = new Array(dpid.length)
                    for (i = 0; i < dpid.length; i++) {
                        list[i] = ($(dpid[i]).val());
                    }
                    list[dpid.length] = $(this).val();
                    var dlist = list.join(",");


                    var upid = $('select[name="secimu"]').children();
                    var lst = new Array(upid.length)
                    for (i = 0; i < upid.length; i++) {
                        lst[i] = ($(upid[i]).val());
                    }
                    lst[upid.length] = $(this).val();
                    var ulist = lst.join(",");

                    var tscrtyp = $('select[name="ScoreType"] option:selected').text();
                    var tscrmn = $('input[name="scoremin"]').val();
                    var torder = $('input[name="order"]').val();
                    var tscmhd = dlist;
                    var tscmud = ulist;
                    $.ajax(
                 {
                     url: "/Home/Sonuclar/",
                     type: "POST",
                     data: {
                         scoretype: tscrtyp,
                         scoremin: tscrmn,
                         order: torder,
                         secimd_hd: tscmhd,
                         secimd_ud: tscmud
                     },
                     success: function (data) {
                         alert(data.length);
                         for (i = 0; i < data.length; i++) {
                             $('table')
                 .find('tbody').append('<tr><td>' + data[i].UNIVERSITYNAME + '</td><td>' + data[i].DEPARTMENTNAME +
                                 '</td> <td>' + data[i].QUOTAS + '</td><td>' + data[i].SCORETYPE +
                                 '</td><td>' + data[i].SCOREMIN + '</td><td>' + data[i].ORDERR + '</tr>');
                         }
                     },
                     error: function (xhr, status, p3, p4) {
                         var err = "Error " + " " + status + " " + p3;
                         if (xhr.responseText && xhr.responseText[0] == "{")
                             err = JSON.parse(xhr.responseText).message;
                         alert(err);
                     }
                 });
                });
                function Arama(iname,sname)
    {
               $('input[name="' + iname + '"]').keyup(function () {
                var depid = $(this).val();
                var inputname=$(this).attr('name');
                if (depid.length > 0) {
                    $.ajax(
             {
                 url: "/Home/Search/",
                 type: "POST",
                 data: {
                     id: depid,
                     name: inputname
                 },
                 success: function (data) {
                     $('select[name="' + sname + '"]').children().remove();
                     for (i = 0; i < data.length; i++) {
                         $('select[name="' + sname + '"]').append('<option value="' + data[i].ID + '">' + data[i].NAME + '</option>');
                     }
                 },
                 error: function (xhr, status, p3, p4) {
                     var err = "Error " + " " + status + " " + p3;
                     if (xhr.responseText && xhr.responseText[0] == "{")
                         err = JSON.parse(xhr.responseText).message;
                     alert(err);
                 }
             });
                }
            });
        }
                   
                function Ekle(bname,sname,sname1)
                {
                    $('button[name="' + bname + '"]').click(function () {
                        $('select[name="' + sname + '"]').find('option').clone().appendTo('select[name="' + sname1 + '"]');
                        $('select[name="' + sname + '"] option').prop('selected', true).remove();
                    });
                }

                function Check() {
                    $("#box input:checked").each(
                        function () {
                            var secilen = $(this).attr("id");
                            $.getJSON('/Home/GetUniType/' + secilen, function (data) {
                                $('select[name="secimu"]').children().remove();
                                $('select[name="Uni"]').children().remove();
                                for (i = 0; i < data.length; i++) {
                                    $('select[name="Uni"]').append('<option value="' + data[i].UNIVERSITYID + '">' + data[i].UNIVERSITYNAME + '</option>');
                                }
                            })
                        });
                }

                
           
            
</script>
<style>
    .c1 {
        color: darkgray;
        font-family: 'Comic Sans MS';
        font-size: initial;
    }
</style>
